{% extends "admin/base.html" %}
{% load static %}

{% block title %}
    {% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Моя админка
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}" style="color: #ff5733; text-decoration: none;">
            Панель управления
        </a>
    </h1>
    {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
    {% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/custom_admin.css' %}">
    <script src="{% static 'js/custom_admin.js' %}" defer></script>
{% endblock %}